.signup-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #b5eeff, #203a43, #000000);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  flex-wrap: wrap;
}

.signup-form-side {
  flex: 1;
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  color: #ffffff;
  max-width: 600px;
  animation: fadeIn 0.7s ease-in-out;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.signup-title {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  color: #00c3ff;
}

.signup-subtitle {
  font-size: 0.95rem;
  color: #e2e8f0;
  margin-bottom: 1.8rem;
}

.signup-input {
  width: 100%;
  padding: 0.6rem 1rem;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #000000;
}

.signup-input::placeholder {
  color: #bbbbbb;
}

.signup-last-row {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.signup-form-item {
  flex: 1;
  min-width: 160px;
  margin-bottom: 0 !important;
}

.signup-btn {
  background: #00c3ff;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border: none;
  transition: all 0.3s;
  white-space: nowrap;
  height: 42px;
}

.signup-btn:hover {
  box-shadow: rgba(241, 216, 255, 0.986) 0px 3px 8px;
  letter-spacing: 6px;
}

.signup-icon {
  font-size: 1.2rem;
  margin-top: 4px;
}

.redirect-login {
  margin-top: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.text {
  color: #00c8ff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .signup-wrapper {
    padding: 2rem 1rem;
  }

  .signup-last-row {
    flex-direction: column;
    align-items: stretch;
  }

  .signup-btn {
    width: 100%;
  }
}